<a href="https://www.kaggle.com/code/zarna99/eda-ds-salaries?scriptVersionId=105308607" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

<div style="color:white;
           display:fill;
           border-radius:5px;
           background-color:#5B2C6F  ;
           font-size:300%;
           font-family:Sans-serif;
           letter-spacing:0.5px">

<p style="padding: 40px;
              color:white;
               text-align:center"><h1>
    <b>
This notebook contain exploratory data analysis
        </b>
</p>
</div>

<div style="color:black;
           display:fill;
           border-radius:5px;
           background-color:#D7BDE2;
           font-size:300%;
           font-family:Sans-serif;
           letter-spacing:0.5px"><h2>

<p style="padding: 10px;
              color:#5B2C6F;
               text-align:center">
    <b>
        Descriptive
    </b>
</p>
</div>

<div style="color:black;
           display:fill;
           border-radius:5px;
           background-color:#E8DAEF;
           font-size:150%;
           font-family:Courier New;
           letter-spacing:0.5px"><h3>
<p style="padding: 5px;
              color:#5B2C6F;
               text-align:center">
        <b>We shall first start with installing and importing the necessary libraries.</b>
    </p>
</div>

In [ ]:
!pip install sweetviz

In [ ]:
pip install country-converter

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import seaborn as sns
import sweetviz as sv
import country_converter as coco
from seaborn.rcmod import palettes

%matplotlib inline

<div style="color:black;
           display:fill;
           border-radius:5px;
           background-color:#E8DAEF;
           font-size:150%;
           font-family:Courier New;
           letter-spacing:0.5px"><h3>
<p style="padding: 5px;
              color:#5B2C6F;
               text-align:center">
    <b>Importing the dataset.</b>
 </p>
</div>

In [ ]:
df = pd.read_csv("../input/data-science-job-salaries/ds_salaries.csv",index_col=0)
df

<div style="color:black;
           display:fill;
           border-radius:5px;
           background-color:#E8DAEF;
           font-size:150%;
           font-family:Courier New;
           letter-spacing:0.5px"><h3>
<p style="padding: 5px;
              color:#5B2C6F;
               text-align:center">
    <b>About the dataset</b>
    </p>
</div>






1.   work_year :	The year the salary was paid.
2.   experience_level :	The experience level in the job during the year with the following possible values:

> *   EN (Entry-level) / Junior
*   MI (Mid-level) / Intermediate
*   SE (Senior-level) / Expert
*   EX (Expert-level) / Director

3.   employment_type : The type of employement for the role: 

> *   PT : Part-time
*   FT : Full-time
*   CT : Contract
*   FL : Freelance

4.   job_title : The role worked in during the year.
5.   salary	: The total gross salary amount paid.
6.   salary_currency : The currency of the salary paid as an ISO 4217 currency code.
7.   salary_in_usd : The salary in USD (FX rate divided by avg. USD rate for the respective year via fxdata.foorilla.com).
8.   employee_residence	: Employee's primary country of residence in during the work year as an ISO 3166 country code.
9.   remote_ratio	: The overall amount of work done remotely, possible values are as follows: 

> *   0 : No remote work (less than 20%)
*   50 : Partially remote
*   100 : Fully remote (more than 80%)

10.   company_location :	The country of the employer's main office or contracting branch as an ISO 3166 country code.
11.   company_size : The average number of people that worked for the company during the year: 
  
> *   S : less than 50 employees (small)
*   M : 50 to 250 employees (medium)
*   L : more than 250 employees (large)

<div style="color:black;
           display:fill;
           border-radius:5px;
           background-color:#E8DAEF;
           font-size:150%;
           font-family:Courier New;
           letter-spacing:0.5px">
<p style="padding: 5px;
              color:#5B2C6F;
               text-align:center">
    <b>Understanding the dataset</b>
    </p>
</div>

In [ ]:
df.info()

The dataset contains salary information of the Data science and its related jobs. It has 607 entries and 11 features. 

Looking at the basic information it is clear that there are no missing values in the dataset.

<div style="color:black;
           display:fill;
           border-radius:5px;
           background-color:#E8DAEF;
           font-size:150%;
           font-family:Courier New;
           letter-spacing:0.5px">
<p style="padding: 5px;
              color:#5B2C6F;
               text-align:center">
    <b>Data Preprocessing</b>
    </p>
</div>

* <p style="color:#5B2C6F;font-family:Courier New;font-size:20px;"><b>Converting Country codes into their respective names</b></p>



Here the company_location and employee_residence are mentioned in terms of country codes as per ISO 3166 Country code. For better understanding and visualization we shall convert this codes to their respective country names.

In [ ]:
df['Company_Location'] = df.company_location.apply(lambda x : coco.convert(names=x, to='name_short', not_found=None))

In [ ]:
df['Employee_Residence'] = df.employee_residence.apply(lambda x : coco.convert(names=x, to='name_short', not_found=None))

* <p style="color:#5B2C6F;font-family:Courier New;font-size:20px;"><b>Deleting the irrelevant features</b></p>

We shall continue our analysis on salary in USD only.
Hence we shall remove the Salary and Salary currency columns.

Also we have converted the country codes into their respective country names and created new columns. Hence we shall also delete the columns that contain the country codes.

In [ ]:
df.drop(['salary','salary_currency', 'company_location', 'employee_residence'], axis=1, inplace=True)

* <p style="color:#5B2C6F;font-family:Courier New;font-size:20px;"><b>We shall now see what are the unique values of all the categorical variables.</b></p>

In [ ]:
columns = ['work_year', 'experience_level','employment_type','job_title','Employee_Residence','Company_Location','company_size','remote_ratio']

uniques = {col: df[col].unique() for col in columns}
uniques

* <p style="color:#5B2C6F;font-family:Courier New;font-size:20px;"><b>Changing the datatype of the variables</b></p>

Here, seeing to the unique values it is clear that the work year and remote ratio are not of int64 datatype. we shall convert these into object datatype.

In [ ]:
df["work_year"] = df["work_year"].astype('object')
df["remote_ratio"] = df["remote_ratio"].astype('object')

* <p style="color:#5B2C6F;font-family:Courier New;font-size:20px;"><b>For better interpretation and understanding we shall rename the values of the categorical variables.</b></p>

In [ ]:
df.experience_level.replace(['EN','MI','SE', 'EX'], ['Entry', 'Mid', 'Senior', 'Executive'], inplace = True)
df.employment_type.replace(['FT','CT','PT', 'FL'], ['Full Time', 'Contract', 'Part Time', 'Freelance'], inplace = True)
df.company_size.replace(['L','S','M'], ['Large', 'Small', 'Medium'], inplace = True)

* <p style="color:#5B2C6F;font-family:Courier New;font-size:20px;"><b>Checking for any duplicate entries.</b></p>

In [ ]:
df[df.duplicated()].shape

There are 42 duplicate entries in the data. Hence the next step will be removing these values.

In [ ]:
df_cleaned1 = df.drop_duplicates()
df_cleaned1

* <p style="color:#5B2C6F;font-family:Courier New;font-size:20px;"><b>Dataset after the preprocessing</b></p>

After all the preprocessing, the data has 8 features and 565 entries. Out of these features, only one feature i.e. salary_in_usd is of int64 datatype and rest all are categorical in nature.

In [ ]:
df_cleaned1.info()

<div style="color:black;
           display:fill;
           border-radius:5px;
           background-color:#E8DAEF;
           font-size:150%;
           font-family:Courier New;
           letter-spacing:0.5px">
<p style="padding: 5px;
              color:#5B2C6F;
               text-align:center">
    <b>Generating EDA report using Sweetviz</b>
    </p>
</div>

In [ ]:
sweet_report = sv.analyze(df_cleaned1)
#sweet_report.show_html('DS_Salary.html')

In [ ]:
sweet_report.show_notebook(layout='widescreen', w=1500, h=600, scale=0.8)

### Inferences from the EDA report

---



---

### We can get following inferences looking at the EDA report :

---
### Univariate Analysis

1.   Work_Year : 
> Majority of the data is taken for the year 2022, followed by 2021 and 2020
2.   experience_level :
> The maximum data taken here is of the personnels who are working at senior level followed by Middle level and Entry level. The personnels with executive level contributes minimum in the dataset.
3.   employment_type :
> The maximum data here belongs to the personnels who are working on full time basis.
4.   job_title :
> The top three categories of job type in the dataset is of Data Scientist, Data Engineer and Data Analyst. Apart from this there are 47 other type of job titles covered in this dataset.
5.   Salary_in_usd : 
> The salary ranges from 2859 USD to 600000 USD, Average salary approximately being 111000 USD. 
6.   employee_residence : 
> The personnels from US contributes maximum in the dataset followed by Great Britain.
7.   remote_ratio
> The personnels who have contributed maximum in the dataset are the ones who are performing their job remotely followed by the ones who are working remotely partially.
8.   company_location : 
> The maximum personnels in this dataset are working in the offices that are located in US.
9. company_size :
> The maximum data in the dataset are of the ones who are working in the medium size companies.

---
### Bivariate Analysis
*   The top 4 categorical association of salary_in_usd is with Employee Resisdence, Company Location, Job Title and Experience Level.

<div style="color:black;
           display:fill;
           border-radius:5px;
           background-color:#D7BDE2;
           font-size:300%;
           font-family:Sans-serif;
           letter-spacing:0.5px">

<p style="padding: 10px;
              color:black;
               text-align:center">
    <b>
        Visualization
    </b>
</p>
</div>

<div style="color:black;
           display:fill;
           border-radius:5px;
           background-color:#E8DAEF;
           font-size:150%;
           font-family:Courier New;
           letter-spacing:0.5px">
<p style="padding: 5px;
              color:#5B2C6F;
               text-align:center">
    <b>Defining Functions</b>
    </p>
</div>

* <p style="color:#5B2C6F;font-family:Courier New;font-size:20px;"><b>Description</b></p>

1.   freq_plot

  freq_plot will show the frequency for each categories in the dataset and will plot it using bars. It has two parameters "type" and "y".
*   type
> Parameter "type" can take either "1" or "2" as its value. The type=1 will show the plot for the variables where the number of categories are more than 5, and if it is less than 5 than the plots will be shown by passing type=2.
*   y
> Name of the variable for which graph is to be shown.



2.   ASF_plot

  ASF_plot will plot Average Salary against each category of the variable specified. It will show values in terms of average salary. It has 4 parameters out of which 2 are optional.


*   type
> Parameter "type" can take either "1" or "2" as its value. The type=1 will show the plot for the variables where the number of categories are more than 5, and if it is less than 5 than the plots will be shown by passing type=2.

*   y
> Name of the variable for which graph is to be shown.


*   order (optional)
> This parameter will arrange the plot according to the values of average salary. It can take either "0" or "1" as its value. by default the value is 0. Hence if no value is passed for this parameter it will plot the bars and arrange it according to the frequency of the categories. If order=1, then it will plot the bars and arrange it according to the values of Average Salary for each categories and order it descending manner, showing the category having highest salary at the top.



*   Top (optional)
> This parameter will show the n categories having highest salaries. By default the value of Top is 0. Hence if no arguments are passed for this parameter then it will show all the categories, otherwise it will show only those number of categories, which the value is passed. Thus if Top=10, then it will show Top 10 categories paying highest salaries. 



3.   Multi_plot
This plot will create a multiple bar chart, plotted against the average salary. It will show values in terms of average salary. It has 3 parameters out of which one is optional.


*   x
> Name of the variable to be plotted.

*   y
> Name of the variable for which the bars are to be grouped (hue).

*   Type (optional)
> It can take either "0" or "1" as its value. By default the value is 0. If the value of x has a variable that has more than 5 categories, than the value of Type should be passed as 1, and it will plot the bars only for the top 5 categories having the highest frequency.






4.   categ_plot
This plot will show a barplot having both x-axis and y-axis data as categorical.
It will show the values in percentage. It has two parameters.


*   x
> Name of a categorical variable.
*   y
> Name of a categorical variable.

* <p style="color:#5B2C6F;font-family:Courier New;font-size:20px;"><b>Function</b></p>

In [ ]:
def freq_plot(type,y):
  '''will show the frequency for each categories in the dataset and will plot it using bars
  *   type = 1 : if categories in a variable is more than 5
           = 2 : if categories in a variable is less than 5

  *   y = Name of the variable for which graph is to be shown.'''
  if type==1:
    plt.figure(figsize=(17,11))    
    ax = sns.countplot(y=y, data=df_cleaned1, palette="Set2", order=df_cleaned1[y].value_counts().sort_values(ascending = False).index)
    plt.title(label=f'{y} and their Frequency', size=15)
    total=len(df_cleaned1[y])
    for p in ax.patches:
        ax.annotate('({:.1f}%)'.format(100*p.get_width()/total),((p.get_x() + p.get_width()), p.get_y()), xytext=(17, -7),
                    fontsize=8,color='black',textcoords='offset points', horizontalalignment='center')
        ax.annotate(int(p.get_width()),((p.get_x() + p.get_width()), p.get_y()), xytext=(-1, -7.55),
                    fontsize=8,color='black',textcoords='offset points', horizontalalignment='right')
    plt.show()

  if type==2 :
    plt.figure(figsize=(8,5))    
    ax = sns.countplot(y=y, data=df_cleaned1, palette="Set2", order=df_cleaned1[y].value_counts().sort_values(ascending = False).index)
    plt.title(label=f'{y} and their Frequency', size=15)
    total=len(df_cleaned1[y])
    for p in ax.patches:
        ax.annotate('({:.1f}%)'.format(100*p.get_width()/total),((p.get_x() + p.get_width()), p.get_y()), xytext=(22, -45),
                    fontsize=10,color='black',textcoords='offset points', horizontalalignment='center')
        ax.annotate(int(p.get_width()),((p.get_x() + p.get_width()), p.get_y()), xytext=(22, -25),
                    fontsize=10,color='black',textcoords='offset points', horizontalalignment='center')
    plt.show

In [ ]:
def ASF_plot(type,y,order=0,Top=0):
  '''will plot Average Salary against each category of the variable specified
  *   type = 1 : if categories in a variable is more than 5
           = 2 : if categories in a variable is less than 5
       
  *   y = Name of the variable for which graph is to be shown

  *   order (optional)
        0 = arrange the bars according to the frequency of the categories (default)
        1 = arrange the according to the values of Average Salary for each categories in descending order

  *   Top (optional)
       (any value between 0 and the number of categories of the variable)
        0 = Plots all the categories (default) '''
  if type==1:
      if order==0:
          g = sns.catplot(y=y, x="salary_in_usd", kind="bar", data=df_cleaned1, height = 9, palette="muted", 
                          order=df_cleaned1[y].value_counts().sort_values(ascending = False).index,
                aspect=10/8, orient="horizontal", ci=None)
          plt.title(label=f"Average Salary for each {y} arranged according to their frequency in the dataset", size=15)
          ax = g.facet_axis(0,0)
          for p in ax.patches:
            ax.text(p.get_x() + p.get_width(),p.get_y(),  
                "%.2f" % p.get_width(), 
                color='black', rotation='horizontal', fontsize=8, horizontalalignment="left", verticalalignment="top", bbox=dict(boxstyle="round", fc="w"))
          plt.show()
      else:
        if Top==0:
            data = pd.DataFrame(df_cleaned1.groupby(y)['salary_in_usd'].mean().sort_values(ascending = False))
            data.reset_index(inplace=True)
            g = sns.catplot(x="salary_in_usd", y=y, kind="bar", data=data, height = 9, aspect=10/8, palette="flare")
            plt.title(label=f"Average Salary for each {y}", size=15)
            ax = g.facet_axis(0,0)
            for p in ax.patches:
              ax.text(p.get_x() + p.get_width(),p.get_y(),  
                "%.2f" % p.get_width(), 
                color='black', rotation='horizontal', fontsize=8, horizontalalignment="left", verticalalignment="top", bbox=dict(boxstyle="round", fc="w"))
            plt.show()
        else:
            data = pd.DataFrame(df_cleaned1.groupby(y)['salary_in_usd'].mean().sort_values(ascending = False))
            data.reset_index(inplace=True)
            g = sns.catplot(x="salary_in_usd", y=y, kind="bar", data=data.head(Top), height = 6, aspect=10/6, palette="flare")
            plt.title(label=f"Top {Top} Highest Paying {y}", size=15)
            ax = g.facet_axis(0,0)
            for p in ax.patches:
              ax.text(p.get_x() + p.get_width(),p.get_y()*1.01,  
                "%.2f" % p.get_width(), 
                color='black', rotation='horizontal', fontsize=8, horizontalalignment="left", verticalalignment="top", bbox=dict(boxstyle="round", fc="w"))
            plt.show()


  else:
      if order==0:
          g = sns.catplot(x=y, y="salary_in_usd", kind="bar", data=df_cleaned1, height = 5, palette="muted", 
                          order=df_cleaned1[y].value_counts().sort_values(ascending = False).index,
              aspect=7/5, ci=None)
          plt.title(label=f"Average Salary for each {y} arranged according to their frequency in the dataset", size=15)
          ax = g.facet_axis(0,0)
          for p in ax.patches:
            ax.text(p.get_x() + p.get_width()/2 ,p.get_height() * 1.03,  
                "%.2f" % p.get_height(),
                color='black', rotation='horizontal', fontsize=10, horizontalalignment="center", verticalalignment="center", 
                    bbox=dict(boxstyle="round", fc="w"))
          plt.show()
      else:
          data = pd.DataFrame(df_cleaned1.groupby(y)['salary_in_usd'].mean().sort_values(ascending = False))
          data.reset_index(inplace=True)
          g = sns.catplot(y="salary_in_usd", x=y, kind="bar", data=data, height = 5, aspect=8/5, palette="crest")
          plt.title(label=f"Average Salary for each {y}", size=15)
          ax = g.facet_axis(0,0)
          for p in ax.patches:
            ax.text(p.get_x() + p.get_width()/2 ,p.get_height() * 1.03,  
                "%.2f" % p.get_height(),
                color='black', rotation='horizontal', fontsize=10, horizontalalignment="center", verticalalignment="center", 
                    bbox=dict(boxstyle="round", fc="w"))
          plt.show()

In [ ]:
def Multi_plot(x,y,type=0):
  '''will create a multiple bar chart, plotted against the average salary 
  *   x : Name of the variable to be plotted.
 
  *   y : Name of the variable for which the bars are to be grouped (hue).

  *   Type (optional):
         0 = default ; for the variable given in x is having less than 5 categories
         1 = for the variable given in x is having more than 5 categories'''
  if type==0:
      t = sns.catplot(x=x, y="salary_in_usd", hue=y, kind="bar", data=df_cleaned1, palette="husl", height=8, aspect=10/8, ci=None)
      plt.title(label=f'Salary v/s {x} v/s {y}', fontsize=15)
      ax = t.facet_axis(0,0)
      for p in ax.patches:
        ax.text(p.get_x() + p.get_width()/2 ,p.get_height(),  
                "%.2f" % p.get_height(),
                color='black', rotation="horizontal", fontsize=7, horizontalalignment="center", verticalalignment="center", 
                bbox=dict(boxstyle="Round", fc="w"))
      plt.show()
  else:
      t = sns.catplot(x=x, y="salary_in_usd", hue=y, kind="bar", data=df_cleaned1, palette="husl", height=8, aspect=10/8, ci=None, 
            order=df_cleaned1[x].value_counts().nlargest(n=5).sort_values(ascending = False).index)
      plt.xticks(rotation=60)
      plt.title(label=f'Salary v/s Top 5 {x} v/s {y}', fontsize=15)
      ax = t.facet_axis(0,0)
      for p in ax.patches:
        ax.text(p.get_x() + p.get_width()/2 ,p.get_height(),  
                "%.2f" % p.get_height(),
                color='black', rotation="horizontal", fontsize=7, horizontalalignment="center", verticalalignment="center", 
                bbox=dict(boxstyle="Round", fc="w"))
      plt.show()

In [ ]:
def categ_plot(x,y):
  '''will show a barplot having both x-axis and y-axis data as categorical
  *   x : Name of a categorical variable.
  *   y : Name of a categorical variable.'''
  data = df_cleaned1.groupby(x)[y].value_counts(normalize=True)
  data = data.mul(100)
  data = data.rename('percent').reset_index()
  plt.figure(figsize=(12,5))   
  plots = sns.barplot(x=x, y="percent", hue=y, data=data)
  plt.title(label=f'{x} v/s {y}', fontsize=15)
  for bar in plots.patches:
      plots.annotate('{:.1f}%'.format(bar.get_height()),
                   (bar.get_x() + bar.get_width() / 2,
                    bar.get_height()), ha='center', va='center',
                   size=10, xytext=(0, 8),
                   textcoords='offset points')

In [ ]:
sns.set(font_scale=0.9)

<div style="color:black;
           display:fill;
           border-radius:5px;
           background-color:#E8DAEF;
           font-size:150%;
           font-family:Courier New;
           letter-spacing:0.5px">
<p style="padding: 5px;
              color:#5B2C6F;
               text-align:center">
    <b>Univariate (Salary in USD)</b>
    </p>
</div>

In [ ]:
sns.displot(data=df_cleaned1, x="salary_in_usd", kde=True, aspect=8/5)

Conclusion:

---



*   The data of salary is right skewed.
*    Maximum values ranges between 0 to 200000 USD, while there are some extreme values also.
---

<div style="color:black;
           display:fill;
           border-radius:5px;
           background-color:#E8DAEF;
           font-size:150%;
           font-family:Courier New;
           letter-spacing:0.5px">
<p style="padding: 5px;
              color:#5B2C6F;
               text-align:center">
    <b>Bivariate</b>
    </p>
</div>

* <p style="color:#5B2C6F;font-family:Courier New;font-size:20px;"><b>Comparing the Features with Salary</b></p>
---
---

1.  <p style="color:#5B2C6F;font-family:Courier New;font-size:18px;"><b>Job title and Salary</b></p>

* <b>Plots</b>
---

In [ ]:
freq_plot(1,"job_title")

In [ ]:
ASF_plot(1,"job_title")

In [ ]:
ASF_plot(1,"job_title",order=1)

In [ ]:
ASF_plot(1,"job_title",order=1,Top=15)

* <b>Conclusion:</b>

---
*   The graph shows that the highest frequency of a job title is of Data Scientist followed by Data Engineer, Data Analyst, Machine learning Engineer and Research Scientist.
*    The job titles having highest frequency in the dataset however,does not have the highest salaries. The one having the highest salary has the lowest frequency in the dataset. 
*    The jobs in data science, receiving highest salary is of Data analytics lead, followed by, Principle data engineer, Financial data analyst, Principal data scientist and Director of Data science.
---

2. <p style="color:#5B2C6F;font-family:Courier New;font-size:18px;"><b>Employee residence and Salary</b></p>

* <b>Plots</b>
---

In [ ]:
freq_plot(1,"Employee_Residence")

In [ ]:
ASF_plot(1,"Employee_Residence")

In [ ]:
ASF_plot(1,"Employee_Residence",order=1)

In [ ]:
ASF_plot(1,"Employee_Residence",order=1,Top=15)

* <b>Conclusion</b>

---
*   The maximum Data scientist jobs are in the United States, followed by United Kingdom, India, Canada and Germany.
*   Based on this dataset, Malaysia and Puerto Rico are the countries where average salary for data scientist jobs are the highest. But looking at the frequency of both the countries, we highlighted that there are very few entries (only 1) for these countries. Hence it won't be advisible to make any inferences based on only one entries.
*   If we ignore these two entries, then United States, becomes the highest salary paying country to the data science jobs. 
*   But looking at the frequency of all the employee residence, we can say that the data is highly biased, because more than half of the entries are from United States. 
---

3. <p style="color:#5B2C6F;font-family:Courier New;font-size:18px;"><b>Company Size and Salary</b></p>

* <b>Plots</b>
---

In [ ]:
freq_plot(2,"company_size")

In [ ]:
ASF_plot(2,"company_size")

In [ ]:
ASF_plot(2,"company_size",order=1)

* <b>Conclusion</b>

---
*   The highest frequency is of medium size companies.
*   However, the average salary of large sized companies are highest followed by medium sized and small sized companies.
---

4. <p style="color:#5B2C6F;font-family:Courier New;font-size:18px;"><b>Company loacation and Salary</b></p>

* <b>Plots<b>
---

In [ ]:
freq_plot(1,"Company_Location")

In [ ]:
ASF_plot(1,"Company_Location")

In [ ]:
ASF_plot(1,"Company_Location",order=1)

In [ ]:
ASF_plot(1,"Company_Location",order=1,Top=15)

* <b>Conclusion:</b>

---
*   Maximum companies that provides data scientist jobs are located in United States, followed by United Kingdom, Canada, Germany and India.
*    However, the companies that provides highest salary are located in Russia.
*    But looking at the frequency, we have very few entries where the company location is Russia. Hence, it won't be advisible to rely on the conclusion.
*    After Russia, United States ranks second, in terms of the company locations providing high salaries. Also, the data is highly biased, because more than half of the entries have company locations in United States.
---

5. <p style="color:#5B2C6F;font-family:Courier New;font-size:18px;"><b>Experience level and salary</b></p>

* ##### <b>Plots</b>
---

In [ ]:
freq_plot(2,"experience_level")

In [ ]:
ASF_plot(2,"experience_level")

In [ ]:
ASF_plot(2,"experience_level",order=1)

* <b>Conclusion</b>

---
*   The maximum entries are of the employees, working at Senior level followed by Middle level, Entry level and Executive.
*    However, for obvious reasons the salary of the employees, who are working at Executive level is the highest, followed by that of Senior, Middle and Entry level employees.
---

6. <p style="color:#5B2C6F;font-family:Courier New;font-size:18px;"><b>Employment Type and Salary</b></p>

* <b>Plots</b>
---

In [ ]:
freq_plot(2,"employment_type")

In [ ]:
ASF_plot(2,"employment_type")

In [ ]:
ASF_plot(2,"employment_type",order=1)

* <b>Conclusion</b>

---
*   In the dataset, the highest entries are of the employees working on full time basis, whereas those working as part time, contract and freelance have very few entries.
*   However, the salary of those working on contractual basis is highest followed by those working on full time, freelance and part time basis.
---

7. <p style="color:#5B2C6F;font-family:Courier New;font-size:18px;"><b>Remote ratio and Salary</b></p>

* <b>Plots</b>
---

In [ ]:
freq_plot(2,"remote_ratio")

In [ ]:
ASF_plot(2,"remote_ratio")

* <b>Conclusion:</b>

---
*   The highest frequency in the data set is of the employees who are working 100% remotely, followed by that of working fully onsite, followed by the ones working on hybrid basis.
*   Looking from the salary point of view also, the employees who are working 100% remotely are earning the highest followed by those working fully onsite, followed by those working on hybrid basis.
---

* <p style="color:#5B2C6F;font-family:Courier New;font-size:20px;"><b>Categorical Comparisons</b></p>
---
---

1. <p style="color:#5B2C6F;font-family:Courier New;font-size:18px;"><b>Employment Type v/s Remote Ratio</b></p>

In [ ]:
categ_plot("employment_type","remote_ratio")

<b>Conclusion:</b>

---



*   The dataset shows that all the employees who are employed on contractual basis are working 100% remotely.
*   The ratio of the employees who are working 100% remotely is highest for all the categories, except for those working on part time basis.
---

2. <p style="color:#5B2C6F;font-family:Courier New;font-size:18px;"><b>Employment Type v/s Experience Level</b></p>

In [ ]:
categ_plot("employment_type","experience_level")

<b>Conclusion:</b>

---

*   In this dataset, there are no entry level or executive level freelancers.
*   For, those working part time, majority of the employees are of entry level. Whereas for the freelancers, there is a dominance of employees having middle level of experirnce.
*   Among those working on full time basis, majority of the employees have a senior level of experience, followed by those having middle level, entry level and executive level of experience.
*   Overall, the ratio of employees having the executive level of experience is lower for all the categories.
---

3. <p style="color:#5B2C6F;font-family:Courier New;font-size:18px;"><b>Experience level v/s Remote ratio</b></p>

In [ ]:
categ_plot("experience_level","remote_ratio")

<b>Conclusion:</b>

---
*   For all the categories of experience level, the ratio of the employees working 100% remotely is higher as compared to the other remote ratios.
*   For the employees having executive and entry level of experience, the ratio of employees working on hybrid basis is higher than that of those working completely on-site.
*   Whereas, for the employees having middle and senior level of experience, the ratio of employees working completely on-site is higher than those working on hybrid basis.
---

4. <p style="color:#5B2C6F;font-family:Courier New;font-size:18px;"><b>Experience Level and Company Size</b></p>

In [ ]:
categ_plot("experience_level","company_size")

<b>Conclusion:</b>

---
*   For the entry level employees, the ratio of those working in large, medium and small companies are almost similar, whereas for the other companies, huge difference can be witnessed
*   However for all the categories, the ratio of employees working in medium sized companies is higher followed by those working in large and small sized companies.  
---

5. <p style="color:#5B2C6F;font-family:Courier New;font-size:18px;"><b>Employment Type and Company Size</b></p>

In [ ]:
categ_plot("employment_type","company_size")

<b>Conclusion:</b>

---
*   Majority of the freelancers and full type employed employees, are working in medium sized companies. 
*   Whereas for the employees working on contractual basis, the ratio of those working in large and medium sized companies is equal and those working in small sized companies is the lowest.
*   On the other hand, for the employees working on part-time basis, the ratio of those working in small and medium sized companies is equal and those working in large sized companies is the lowest.
---

6. <p style="color:#5B2C6F;font-family:Courier New;font-size:18px;"><b>Remote Ratio and Company Size</b></p>

In [ ]:
categ_plot("remote_ratio", "company_size")

<b>Conclusion:</b>

---



*   Among the employees who are working 100% remotely or completely on-site, majority are working in medium sized companies, followed by those working in large and small sized companies..
*   Whereas for those working on hybrid basis, majority are working in large sized companies, followed by those working in medium and small sized companies.
---

<div style="color:black;
           display:fill;
           border-radius:5px;
           background-color:#E8DAEF;
           font-size:150%;
           font-family:Courier New;
           letter-spacing:0.5px">
<p style="padding: 5px;
              color:#5B2C6F;
               text-align:center">
    <b>Multivariate</b>
    </p>
</div>

1. <p style="color:#5B2C6F;font-family:Courier New;font-size:18px;"><b>Salary v/s Experience level v/s Remote ratio</b></p>

In [ ]:
Multi_plot("experience_level","remote_ratio")

#### Conclusion :

---



*   The salary of the employees working at executive level is the highest, and among them, the ones working 100% remotely earns the highest.
*   Seeing the plots, it is very clear that for all the experience levels, the ones working 100% remotely, earns higher salaries as compared to the ones working on-site or on hybrid basis.
---

2. <p style="color:#5B2C6F;font-family:Courier New;font-size:18px;"><b>Salary v/s Job title v/s Remote ratio</b></p>

In [ ]:
Multi_plot("job_title","remote_ratio",type=1)

#### Conclusion:

---
*   This graph compares the salaries of job titles that are among the top 5 in terms of their frequency (Here, the Top 5 are Data Scientist, Data Engineer Data Analyst, Machine Learning Engineer and Research Scientist)
*   The data says that, for the employees working as Data Scientist, Data Engineer and Data analyst, the ones working 100% remotely are earning higher as compared to the ones working on-site and on hybrid basis.
*   Whereas, for the employees, working as Machine Learning Engineer and Research Scientist, the ones working completely on-site are earning higher than those working 100% remotely and on hybrid basis.
*   For the given job titles, the ones working on hybrid basis are earning the lowest.
---

3. <p style="color:#5B2C6F;font-family:Courier New;font-size:18px;"><b>Salary v/s Job titles v/s Company size</b></p>

In [ ]:
Multi_plot("job_title","company_size",type=1)

#### Conclusion:

---
*   This graph compares the salaries of job titles that are among the top 5 in terms of their frequency (Here, the Top 5 are Data Scientist, Data Engineer Data Analyst, Machine Learning Engineer and Research Scientist)
*   The data shows that, for the given job titles, the ones working in medium sized companies are earning the highest followed by the ones working in large sized companies, followed by those working in small sized companies.
---

4. <p style="color:#5B2C6F;font-family:Courier New;font-size:18px;"><b>Salary v/s Job title v/s Experience Level</b></p>

In [ ]:
Multi_plot("job_title","experience_level",type=1)

#### Conclusion

---



*   This graph compares the salaries of job titles that are among the top 5 in terms of their frequency (Here, the Top 5 are Data Scientist, Data Engineer Data Analyst, Machine Learning Engineer and Research Scientist)
*   In this dataset, there are no employees working as Data Scientist, Machine Learning Engineer and Research Scientist and having an executive level of experience.
*   Comparing the salaries, for Data Engineer and Data Analyst, the ones having executive level of experience are earning the highest followed by the ones having senior, middle and entry level of experience.
*   For Data scientist, the ones having senior level of experience are earning highest followed by those having middle and entry level of experience.
*   A strange trend is witnessed for the Machine Learning Engineers and Research scientist, because, for the Machine Learning Engineers, the ones working on entry level are earning higher than those working on middle level.
*   Similarly, for the Research Scientist, the ones working on middle level are working higher than the ones working on senior level.
---

5. <p style="color:#5B2C6F;font-family:Courier New;font-size:18px;"><b>Salary v/s Employment type v/s Experience Level</b></p>

In [ ]:
Multi_plot("employment_type","experience_level")

#### Conclusion:

---


*   The dataset says that the employees working on Full time and Contractual basis, the ones having executive level of experience are earning the highest.
*   However a strange trend is observed for the ones working on contractual basis, because, for the same, employees working at middle level are receiving higher salaries as compared to those working at senior level.
---

6. <p style="color:#5B2C6F;font-family:Courier New;font-size:18px;"><b>Salary v/s Employment Type v/s Remote ratio</b></p>

In [ ]:
Multi_plot("employment_type","remote_ratio")

#### Conclusion:

---



*   The dataset shows that the employees having employment type as contract are all working 100% remotely and are also earning the highest as compared to other categories.
*   Next, among the employees working on full time basis the ones working 100% remotely are earning the highest followed by the ones working completely on-site and on hybrid basis.
---